navbar.navbar
    div.title Вопросы:
    a(href="/dashboard/question") Добавить вопрос 
    div.title Письма:
    a(href="/dashboard/send-emails") Отправить письма
    div.title Подписчики:
    a(href="/dashboard/request") Добавить подпиcчика
    div.title Календарь:
    a(href="/dashboard/calendar") Добавить в календарь
    a.exit(href="/dashboard/exit") Выйти
 
