.login__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.email__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.password__title {
  margin: 16px 0 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.enter {
  display: block;
  margin-top: 6px;
}
