doctype html
html 
    head  
        title FrostCast
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/desktop.css')
    body 
        div.container
            div.header
                h1 Отправить письма
            div.main__part
                include ./modules/navbar.pug
                .main 
                    form(action='/email-send' method='POST')
                        input(type="hidden" name="headers[Authorization]" value="Bearer " + token)
                        input.submit(type="submit" value="Отправить письма о новой серии")